
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 1px;
  background-color: #FFFFFF;
}

canvas {
  position: absolute;
  z-index: -1;
}

div {
  color: #808080;
}

#divtitle {
  position: absolute;
  font-family: Verdana, Veranda, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  left: 16px
}

#divdoclic {
  position: absolute;
  font-family: Times, Utopia, serif;
  font-size: 1.5em;
  left: 420px;
  top: 40px
}

#divfooter {
  position: fixed;
  font-family: Times, Utopia, serif;
  bottom: 0px;
  right: 0px;
  width: 200px;
}

#divcoords {
  position: fixed;
  font-family: Times, Utopia, serif;
  top: 64px;
  left: 2px;
  width: 200px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
